<div class="section">
	<div class="container">
  <div class="columns">
    <div class="column is-two-thirds">
      <h1 class="title is-3"><%= @video.title %></h1>
      <div class="columns">
        <div class="column is-8">
          <span class="by has-text-grey-light">by</span>
          <div class="user-thumb">
            <%= gravatar_image_tag(@video.user.email.gsub('spam', 'mdeering'), alt: @video.user.name, gravatar: { size: 20 }); %>
          </div>
          <div class="user-name has-text-weight-bold"><%= @video.user.name %> posted <%= time_ago_in_words(@video.created_at) %> ago</div>
          </span></div>
      </div>
      <%= video_tag @video.videofile, :size => "800x600", :controls => true %>
      <% if user_signed_in? && (current_user.id == @video.user_id) %>		
        <div class="buttons has-addons">
          <%= link_to 'Edit', edit_video_path(@video), class: "button is-info" %>
          <%= link_to 'Delete', video_path, class: "button is-danger", method: :delete, data: { confirm: 'Are you sure you want to delete this video?'} %>
        </div>
      <% end %>
      <div class="box">
        <h1 class="title is-5"> Description </h1>
        <article class="media">
          <p><%= @video.description %></p>
        </article>
      </div>
          
      <section class="comments">
        <h2 class="subtitle is-5"><%= pluralize(@video.comments.count, 'Comment') %></h2>
          <%= render @video.comments %>
        <hr />
        <% if user_signed_in? %>
          <div class="comment-form">
            <h3 class="subtitle is-3">Leave a reply</h3>
            <%= render 'comments/form' %>
          </div>
        <% else %>
          <div class="content"><%= link_to 'Sign in', new_user_session_path %> to leave a comment.</div>
        <% end %>
      </section>  
    </div>
    <div class="column">
      <div class="nav panel show-shot-analytics">
				<div class="panel-block views data">
					<span class="icon"><i class="fa fa-eye"></i></span>
					<%= pluralize(@video.impressionist_count, 'View') %>
			  </div>
				<div class="panel-block comments data">
						<span class="icon"><i class="fa fa-comment"></i></span>
						<%= pluralize(@video.comments.count, 'Comment') %>
				</div>
        <div class="panel-block likes data">
          <% if user_signed_in? %>
            <% if current_user.liked? @video %>
              <%= link_to unlike_video_path(@video), method: :put, class: "unlike_video" do %>
                <span class="icon"><i class="fa fa-heart"></i></span>
                <span class="vote_count"><%= pluralize(@video.get_likes.size, 'Like') %></span>
              <% end %>
            <% else %>
              <%= link_to like_video_path(@video), method: :put, class: "like_video" do %>
                <span class="icon"><i class="fa fa-heart"></i></span>
                <span class="vote_count"><%= pluralize(@video.get_likes.size, 'Like') %></span>
              <% end %>
            <% end %>
          <% end %>
        </div>  
    </div>
  </div>
  </div>
</div>